{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
            <div class="book">
              <div class="book col-md-3">  
              <h3>{{ book.name }}</h3>
              <div class = 'author'> Автор: {{book.author}}</div>
              <p>Дата публикации: {{book.pub_date|date:"d.m.y"}}</p>
              </div>  
            </div>    
              {% comment %} <div class="price">Стоимость: {{ phone.price }} ₽</div>
              <img height="400" src="{{ phone.image }}" alt="{{ phone.name }}"/> 
            </div> {% endcomment %}
          {% endfor %}
            {% comment %} <div class="book col-md-4">
                <h2>Сияние</h2>
                <p>Автор: Стивен Кинг</p>
                <p>Дата публикации: 2018-09-10</p>
            </div>
            <div class="book col-md-4">
                <h2>1984</h2>
                <p>Автор: Джордж Оруэл</p>
                <p>Дата публикации: 2015-03-11</p>
            </div> {% endcomment %}
        </div>
    </div>
{% endblock %}